#root {
  -fx-background-color: #8a8a8a;
}

.label {
  -fx-font-size: 20;
  -fx-text-fill: white;
}

.text-field {
  -fx-font-size: 20;
  -fx-background-color: white;
}

.button {
  -fx-background-color: #414141;
  -fx-background-radius: 5px;

  -fx-border-radius: 5px;
  -fx-border-width: 1px;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
  -fx-text-fill: white;
  -fx-font-size: 15;

}

.button:hover {
  -fx-background-color: #2980b9; /* Hover background color */
  -fx-text-fill: #ecf0f1; /* Hover text color */

  transition: -fx-background-color 0.5s ease;
}

#box {
  -fx-spacing: 20;
  -fx-padding: 20;
  -fx-alignment: center;
}

#buttonBox {
  -fx-spacing: 20;
  -fx-padding: 20;
  -fx-alignment: center;
}