* {
  -fx-background-color: #006769;
  -fx-spacing: 20;
}

.button {
  -fx-min-width: 400;
  -fx-min-height: 200;
  -fx-max-height: 200;
  -fx-max-width: 400;
  -fx-hgap: 20px;
  -fx-padding: 40px;
  -fx-background-radius: 40px;
  -fx-border-radius: 40px;
  -fx-border-width: 5px;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
  -fx-font-size: 30;
}

.button {
  -fx-background-color: #40A578;
  -fx-text-fill: black;
}

.button:hover {
  -fx-background-color: #9dde8b;
  -fx-text-fill: black;
  -fx-transition: all 0.5s ease;
}

#menuButtons {
  -fx-spacing: 40;
  -fx-padding: 100;
  -fx-alignment: center;
}

#exit {
  -fx-min-width: 200;
  -fx-min-height: 100;
  -fx-max-height: 100;
  -fx-max-width: 200;
  -fx-font-size: 15;
  -fx-background-radius: 20;
  -fx-alignment: center;
}

HBox {
  -fx-spacing: 20;
  -fx-padding: 20;
}

#title {
  -fx-font-size: 50;
  -fx-padding: 20;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
  -fx-alignment: center;
}

#title {
  -fx-background-color: #40A578;
  -fx-text-fill: black;
}

#exitContainer {
  -fx-spacing: 20;
  -fx-padding: 20;
  -fx-alignment: center;
}

#titleContainer {
  -fx-spacing: 20;
  -fx-padding: 20;
  -fx-alignment: center;
}

#titleContainer {
  -fx-background-color: #006769;
}

#help > .label {
  -fx-text-fill: white;
  -fx-text-alignment: center;
  -fx-background-color: #40A578;

}
#help {
  -fx-alignment: center;
  -fx-spacing: 20;
  -fx-padding: 50;
  -fx-background-color: #40A578;
  -fx-border-radius: 50;
}

.large {
}